/* @tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(circle, #f0f0f0 20%, transparent 20%), radial-gradient(circle, #f0f0f0 20%, transparent 20%);
  background-size: 20px 20px;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.flowchart-card {
  opacity: 0;
  animation: slideInFromTop 0.5s ease-out forwards;
}

.flowchart-card:nth-child(1) {
  animation-delay: 0.4s;
}

.flowchart-card:nth-child(2) {
  animation-delay: 0.8s;
}

.flowchart-card:nth-child(3) {
  animation-delay: 1.2s;
}

.flowchart-card:nth-child(4) {
  animation-delay: 1.6s;
}

.flowchart-card:nth-child(5) {
  animation-delay: 2.2s;
}

body.no-scroll {
  overflow: hidden;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

Set body background color to white
body {
  background-color: #ffffff; /* White background */
}

Remove background image
body {
  background-image: none;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.flowchart-card {
  opacity: 0;
  animation: slideInFromTop 0.5s ease-out forwards;
}

.flowchart-card:nth-child(1) {
  animation-delay: 0.4s;
}

.flowchart-card:nth-child(2) {
  animation-delay: 0.8s;
}

.flowchart-card:nth-child(3) {
  animation-delay: 1.2s;
}

.flowchart-card:nth-child(4) {
  animation-delay: 1.6s;
}

.flowchart-card:nth-child(5) {
  animation-delay: 2.2s;
}

body.no-scroll {
  overflow: hidden;
}
